<section class="container">
<div class="card ms-auto me-auto mt-3" style="width: 18rem;">
    <img class="card-img-top" src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{details.name}}</h2>
      <h4>{{details.joinData}}</h4>
      <h4>{{details.department}}</h4>
      <h4>{{details.salary}}</h4>
      <h4>{{details.experience}}</h4>
      <!-- <a routerLink="" class="btn btn-primary">Back to filter</a> -->
    </div>
  </div>
</section>