<section class="dataList">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Join data</th>
        <th scope="col">Department</th>
        <th scope="col">Salary</th>
        <th scope="col">Experience</th>
      </tr>
    </thead>
    <tbody *ngIf="employees.length > 0">
      <tr
        *ngFor="let employee of employees; index as i"
        (click)="handleNavDetailes(employee.id)" [ngStyle]="{'background-color':employees.length==1?'#5e6ec552':'#'}" 
      >
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.joinData }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.salary | currency : " $ " }}</td>
        <td>{{ employee.experience }}</td>
      </tr>
      <tr>
        
      </tr>
    </tbody>
  </table>
  <h1 class="text-center text-danger fw-bolder" *ngIf="employees.length == 0">NO INFO</h1>
</section>
