<div class="row mt-5 custom-container">
  <section class="filterion col-md-6">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      [title]="panelOpenState ? 'open filters panel' : 'closed filters panel'"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> filters panel </mat-panel-title>
        <mat-panel-description>
          Currently {{ panelOpenState ? "open" : "closed" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="filterForm" (ngSubmit)="handleSubmit()">
        <mat-form-field class="example-full-width w-100" *ngFor="let input of formInputs">
          <mat-label>{{input.lable}}</mat-label>
          <input matInput  [name]="input.name" [formControlName]="input.name" [type]="input.type"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100" *ngFor="let select of formSelect">
          <mat-label>{{select.lable}}</mat-label>
          <mat-select  [formControlName]="select.name">
            <mat-option [value]="sel" *ngFor="let sel of select.select">{{sel}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="d-flex justify-content-between">
          <button mat-raised-button color="primary">Filter</button>
          <button mat-raised-button color="warn" (click)="handleClear()" type="reset">
            clear
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </section>
  <app-data-list
    class="col-md-6"
    [filterVal]="filterData"
    (ActionFilter)="handleFilter($event)"
  ></app-data-list>
</div>

